{% extends "base.html" %}

{% load extras %}

{% block title %}Questionable Content Database{% endblock %}

{% block main %}

<div class="comic">
	<div class="number">{{ comic.num }}</div>
	
	<div class="location">
		<ul>
			{% for l in comic.locations.all %}
				<li><a href="/locations/{{ l.id }}">{{ l.name}}</a></li>
			{% endfor %}
		</ul>
	</div>
	
	<div class="title"><a href="/comics/{{ comic.id }}">{{ comic.title }}</a></div>
	
	<div class="characters">
		<ul>
			{% for c in comic.characters.all %}
				<li><a href="/characters/{{ c.id }}">{{ c.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	
	{% assign last_panel 0 %}
	<div class="dialog">
	{% for d in comic.dialog.all %}
		{% assign this_panel d.panel %}
		
		{% if forloop.first %}
			<div class="panel">
		{% else %}
			{% ifnotequal this_panel last_panel %}
				</div>
				<div class="panel">
			{% endifnotequal %}
		{% endif %}
		
			<div class="spoken">
				<div class="character">{{ d.charList }}</div>
				<div class="bubble">{{ d.text }}</div>
			</div>
		
		{% if forloop.last %}
			</div>
		{% endif %}
		
		{% assign last_panel this_panel %}
	{% endfor %}
	</div> <!-- /dialog -->
	
	
</div>

{% endblock %}
