{% extends "base.html" %}

{% block title %}Questionable Content Database{% endblock %}

{% block main %}

{% for comic in latest_comics %}
<div class="comic_summary">
	<div class="number">{{ comic.num }}</div>
	<div class="title">{{ comic.title }}</div>
	{% for l in comic.locations.all %}
		<div class="location">{{ l.name}}</div>
	{% endfor %}
	<div class="characters">
		<ul>
			{% for c in comic.characters.all %}
			<li>{{ c.name }}</li>
			{% endfor %}
		<ul>
	</div>
</div>
{% endfor %}

{% endblock %}
